@import 'core/styles/functions';
@import 'core/styles/mixins';

@keyframes in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: in 1000ms ease-in-out forwards;
}

.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.Heading {
  font-size: get-rem(36);
}

.Title {
  font-size: get-rem(14);
  margin-bottom: get-rem(15);
}

.ContactsContainer {
  position: absolute;
  top: 100%;
}

.ContactsList {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.ContactsItem {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.ContactsIcon {
  display: block;
  height: get-rem(16);
}

.ContactsLink {
  font-size: 0;
  display: block;
  padding: 5px;
}

@include screenMd() {
  .Heading {
    font-size: get-rem(60);
  }

  .Title {
    font-size: get-rem(22);
  }

  .ContactsIcon {
    height: get-rem(20);
  }
}

@include screenLg() {
  .Heading {
    font-size: get-rem(80);
  }

  .Title {
    font-size: get-rem(28);
  }

  .ContactsIcon {
    height: get-rem(26);
  }
}
