@import 'core/styles/functions';
@import 'core/styles/mixins';

.Section {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.Heading {
  font-size: get-rem(36);
}

.Title {
  font-size: get-rem(14);
}

@include screenMd() {
  .Heading {
    font-size: get-rem(60);
  }

  .Title {
    font-size: get-rem(22);
  }
}

@include screenLg() {
  .Heading {
    font-size: get-rem(80);
  }

  .Title {
    font-size: get-rem(28);
  }
}
